.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 800px;
  align: center;
  text-decoration: none;

}

.App h1 {
  background: dodgerblue;
  color: white;
  text-align: center;
}

.App h2 {
  background: dodgerblue;
  color: white;
  text-align: center;
}

.nav-button{
  text-decoration: none;
  font-size: 18px;
  color: black;
  padding: 5px;
}

.activeNavButton {
  background: dodgerblue;
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 5px;
}

.SmurfForm {
  display: flex;
  flex-direction: column;
  margin: 5px;

}

.form {
  display: flex;
  flex-direction: column;
  
}

.input {
  background: lightblue;
  color: black;
}